<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
    <div class="card w-100 mt-5">
      <div class="card-header">Dados da Conta</div>
      <div class="card-body">
        <ul class="list-group list-group-flush list-group-no-borded">
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <span> Tipo de Conta </span>
              <span class="c-pointer"
                >Pessoa Física <i class="bi bi-chevron-right"></i
              ></span>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <span> Nome </span>
              <span class="c-pointer"
                >Nome <i class="bi bi-chevron-right"></i
              ></span>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <span> Sobrenome </span>
              <span class="c-pointer"
                >Sobrenome <i class="bi bi-chevron-right"></i
              ></span>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <span> Data de Nascimento </span>
              <span class="c-pointer"
                >08/05/1888 <i class="bi bi-chevron-right"></i
              ></span>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <span> E-mail </span>
              <span class="c-pointer"
                >email@email.com <i class="bi bi-chevron-right"></i
              ></span>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <span> Telefone </span>
              <span class="c-pointer"
                >(31) 9 9999-9999 <i class="bi bi-chevron-right"></i
              ></span>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <span> CPF/ CNPJ </span>
              <span class="c-pointer"
                >111.122.112-00 <i class="bi bi-chevron-right"></i
              ></span>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <span> Senha </span>
              <span class="c-pointer"
                >Alterar <i class="bi bi-chevron-right"></i
              ></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
    <div class="card w-100 mt-5">
      <div class="card-header">Endereço de Entrega</div>
      <div class="card-body">
        <li class="list-group-item">
          <div class="d-flex justify-content-between">
            <span> Nenhum endereço cadastrado </span>
            <span class="c-pointer"
              >Adicionar <i class="bi bi-chevron-right"></i
            ></span>
          </div>
        </li>
      </div>
    </div>
  </div>
</div>
