<div class="card card-product-detail">
  <img
    src="https://picsum.photos/id/64/400/500"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body border-top-primary">
    <!-- <h5 class="card-title">Titulo do Produto</h5> -->
    <p class="card-text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item text-primary fs-4 fw-bold">R$158,50</li>
    <li class="list-group-item">
      <span class="fw-bold">3</span> x de
      <span class="fw-bold">R$25,80</span> sem juros
    </li>
  </ul>
  <div class="card-body d-grid gap-2">
    <button class="btn btn-primary">
      <!-- <div class="icon icon-2 icon-fire"></div> -->
      Comprar
    </button>
    <button class="btn btn-light">Espiar</button>
  </div>
</div>
