.card-img,
.card-img-top {
    cursor: pointer;
}

.list-group-item {
    border-top: none;
    border-bottom: none;
}

.list-group {
    border-top: none;
    border-bottom: none;
}

.card-body {
    border-top: none;
    border-bottom: none;
}
