<nav class="navbar navbar-expand-lg bg-primary text-light pt-4 pb-4">
  <div class="container-fluid">
    <div
      class="col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto col-xxl-auto"
      routerLink="/"
    >
      <div class="logomarca logomarca-light"></div>
    </div>

    <div
      class="col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto col-xxl-auto"
    >
      <div class="image-escudo d-flex">
        <img
          src="./../../../../assets/payment/escudo.png"
          class="img img-fluid"
          alt=""
          srcset=""
        />

        <div class="campo-text-site-seguro text-center">
          <p class="title"><strong>COMPRA SEGURA</strong></p>
          <p class="sub-title">100% PROTEGIDO</p>
        </div>
      </div>
    </div>
  </div>
</nav>
