.card-img,
.card-img-top,
.image-bg {
    cursor: pointer;
}

.image-bg {
    height: 350px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.list-group-item {
    border-top: none;
    border-bottom: none;
}

.list-group {
    border-top: none;
    border-bottom: none;
}

.card-body {
    border-top: none;
    border-bottom: none;
}
