<div class="card text-center card-product-detail">
  <img
    [src]="getProductSafePicture(images[0])"
    class="card-img-top"
    alt="..."
    routerLink="/lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit"
  />
  <div class="card-body border-top-primary">
    <!-- <h5 class="card-title">Titulo do Produto</h5> -->
    <p class="card-text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li
      class="list-group-item text-primary fs-4 fw-bold list-group-item-padding-none"
    >
      <ngb-rating [(rate)]="currentRate">
        <ng-template let-fill="fill" let-index="index">
          <i
            class="bi-star{{ fill === 100 ? '-fill' : '' }}"
            [class.filled]="fill === 100"
            [class.low]="index < 3"
          ></i>
        </ng-template>
      </ngb-rating>
      <!-- {{ currentRate }} -->
    </li>
    <li
      class="list-group-item text-primary fs-4 fw-bold list-group-item-padding-none"
    >
      R$158,50
    </li>
    <li class="list-group-item list-group-item-padding-none">
      <span class="fw-bold">3</span> x de
      <span class="fw-bold">R$25,80</span> sem juros
    </li>
  </ul>
  <div class="card-body">
    <button class="btn btn-primary btn-circled">
      <i class="bi bi-bag-plus-fill"></i>
      Comprar
    </button>
    <!-- <div class="d-flex justify-content-around"> -->
    <!-- <button
        class="btn btn-light btn-circled"
        routerLink="lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit"
      >
        <i class="bi bi-eye"></i> Espiar
      </button> -->
    <!-- </div> -->
  </div>
</div>
