<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="mt-5 mb-5">
        <h1 class="text-primary text-center">Política de Garantia</h1>
        <p class="text-center">
          Trabalhamos com joias confeccionadas em Prata 925. A Leonnè Prata
          garante a autenticidade e qualidade de todos os produtos. Todas as
          peças são selecionadas e separadas com muito amor e carinho pela nossa
          equipe, mas caso ocorra algum defeito de fabricação o prazo de
          garantia é de 30 dias, a contar da data de entrega informada pelos
          correios/transportadora
        </p>

        <p>
          <strong>O que não cobrimos em garantia?</strong>
        </p>
        <p>
          - Quebra de correntes <br />
          - Oxidação do metal <br />
          - Peças incompletas <br />
          - Arranhões <br />
          - Manchas <br />
          - Perda de pedras<br />
          - Amassados<br />
          - Pedras opacas <br />
          - Danos por mau uso<br />
          - Desgaste do uso constante<br />
          - Perda de Resina<br />
        </p>
        <p>
          A oxidação é um processo natural da prata. Contudo, é possível
          realizar uma limpeza para que retorne a cor natural. Existem métodos
          caseiros, produtos específicos ou ourives que realizam esse
          procedimento nas peças.
        </p>
      </div>
    </div>
  </div>
</div>
