<div
  class="navbar bg-primary text-light justify-content-center subnav-categories"
>
  <ul class="nav">
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/categorias/aneis']"
        routerLinkActive="router-link-active"
        >Aneis</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/categorias/brincos']"
        routerLinkActive="router-link-active"
        >Brincos</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/categorias/colares']"
        routerLinkActive="router-link-active"
        >Colares</a
      >
    </li>
  </ul>
</div>
