.navbar {
    z-index: 2;
}

.logomarca {
    width: 200px;
    height: 30px;
    background-image: url("./../../../../assets/logomarca-branca.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.image-thumbnail {
    width: 117px;
    height: 102px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-icon {
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-cart {
    background-image: url("./../../../../assets/bag-cart.svg");
}

.btn-profile {
    background-image: url("./../../../../assets/user.svg");
    // background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M12,12A6,6,0,1,0,6,6,6.006,6.006,0,0,0,12,12ZM12,2A4,4,0,1,1,8,6,4,4,0,0,1,12,2Z' fill='##{fff}'/><path d='M12,14a9.01,9.01,0,0,0-9,9,1,1,0,0,0,2,0,7,7,0,0,1,14,0,1,1,0,0,0,2,0A9.01,9.01,0,0,0,12,14Z' fill='##{fff}'/></svg>");
}

.btn-search {
    background-image: url("./../../../../assets/search.png");
}
