<nav class="navbar sticky-top navbar-expand-lg bg-primary text-light pt-4 pb-4">
  <div class="container-fluid">
    <div
      class="col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto col-xxl-auto"
      routerLink="/"
    >
      <div class="logomarca"></div>
    </div>

    <!-- <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder=""
        aria-label=""
        aria-describedby="button-addon2"
      />
      <button
        class="btn btn-outline-secondary btn-outline-input"
        type="button"
        id="button-addon2"
      >
        <div class="btn-icon btn-search"></div>
      </button>
    </div> -->

    <div
      class="col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto col-xxl-auto"
    >
      <button
        class="btn position-relative bg-transparent"
        type="button"
        (click)="openCartModal(content)"
      >
        <div class="btn-icon btn-cart"></div>
        <span
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-light text-primary"
          *ngIf="cart_items && cart_items.length > 0"
        >
          {{ cart_items.length }}
          <span class="visually-hidden">unread messages</span>
        </span>
      </button>
      <button class="btn bg-transparent" type="button">
        <div class="btn-icon btn-profile"></div>
      </button>
    </div>
  </div>
</nav>

<app-navbar-categories></app-navbar-categories>

<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title">Carrinho de Compras</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="offcanvas.dismiss('Cross click')"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div
      class="alert alert-primary"
      role="alert"
      *ngIf="!cart_items || cart_items.length == 0"
    >
      <i class="bi bi-info"></i> O carrinho de compras está vazio!
    </div>

    <ul
      class="list-group list-group-cart"
      *ngIf="cart_items && cart_items.length > 0"
    >
      <li
        class="list-group-item d-flex justify-content-between align-items-start"
        *ngFor="let product of cart_items"
      >
        <div class="d-flex">
          <div
            class="rounded float-start image-thumbnail"
            [ngStyle]="{
              'background-image': 'url(' + product.product_picture_url + ')'
            }"
            (click)="navigateToProductDetail(product.product_title)"
          ></div>

          <!-- <img
            [src]="pictureUrlToSanitize(product.product_picture_url)"
            class="rounded float-start"
            alt="..."
            (click)="navigateToProductDetail(product.product_title)"
          /> -->

          <div class="flex flex-row ps-3 pe-3">
            <p (click)="navigateToProductDetail(product.product_title)">
              {{ product.product_title }}
            </p>

            <div class="area-cart-item-buttons">
              <div class="input-group input-change-product-quantity">
                <button
                  class="btn btn-outline-primary btn-decrease"
                  type="button"
                  id="button-addon1"
                  (click)="decreaseCartItem(product.product_id)"
                >
                  <i class="bi bi-dash"></i>
                </button>
                <input
                  type="text"
                  class="form-control input-change-card-item"
                  placeholder=""
                  aria-label="Example text with button addon"
                  aria-describedby="button-addon1"
                  [value]="product.quantity"
                  disabled
                />
                <button
                  class="btn btn-outline-primary btn-increase"
                  type="button"
                  id="button-addon1"
                  (click)="increaseCartItem(product.product_id)"
                >
                  <i class="bi bi-plus"></i>
                </button>
              </div>

              <div class="d-flex align-items-center text-primary">
                {{
                  calculateTotalPrice(product.quantity, product.unit_price)
                    | currency : "BRL"
                }}
              </div>
            </div>
          </div>
        </div>
        <button
          class="btn transparent"
          (click)="removeProductToCart(product.product_id)"
        >
          <i class="bi bi-trash"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="offcanvas-footer" *ngIf="cart_items.length > 0 && cart_items">
    <hr class="bg-primary" />
    <div class="d-flex justify-content-between pt-3 pb-3">
      <h3 class="text-primary"><strong>Total:</strong></h3>
      <div class="d-flex flex-column align-items-end">
        <h3 class="text-primary">
          <strong>{{ getTotalCart() | currency : "BRL" }}</strong>
        </h3>
        <p class="text-end">
          Ou até <strong>{{ getParcelaMaximaSemJuros() }}x</strong> de
          <strong>{{ getValorParcelasSemJuros() | currency : "BRL" }}</strong>
          <br />sem juros
        </p>
      </div>
    </div>
    <div class="d-grid gap-2">
      <button class="btn btn-primary" type="button">
        <span class="text-upper">Finalizar Compra</span>
      </button>
      <button
        class="btn btn-link"
        type="button"
        (click)="offcanvas.close('Close click')"
      >
        Ver mais produtos
      </button>
    </div>
  </div>
</ng-template>
