<div class="container">
  <div class="col-12">
    <div class="mt-5 mb-5">
      <h1 class="text-primary">Promoção Frete Grátis</h1>
    </div>
    <div class="mt-5 mb-5">
      <ul>
        <li>
          A promoção é válida apenas para compras realizadas por meio do website
          www.leonnepratas.com.br
        </li>
        <li>Válida para todo Brasil.</li>
        <li>Sul, Sudeste e Centro-Oeste nas compras acima de R$199</li>
        <li>Norte e Nordeste nas compras acima de R$299.</li>
        <li>Desconto não cumulativo com outras ofertas.</li>
        <li>Promoção não cumulativa.</li>
        <li>
          O método de envio preferencial vinculado a promoção é o MINI ou PAC,
          serviço oferecido pelos Correios.
        </li>
        <li>
          É reservado o direito de alterar os presentes termos e condições, a
          qualquer momento, sendo que a nova versão será disponibilizada no
          Website.
        </li>
      </ul>
    </div>
    <div class="mb-5">&nbsp;</div>
  </div>
</div>
