<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <img
      src="./../../../../assets/logomarca.png"
      alt=""
      srcset=""
      class="logomarca"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarSupportedContent"
    ></div>

    <div class="d-grid gap-2 d-md-block">
      <button class="btn btn-primary position-relative" type="button">
        <div class="btn-icon btn-cart"></div>
        <span
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
        >
          99+
          <span class="visually-hidden">unread messages</span>
        </span>
      </button>
      <button class="btn btn-primary" type="button">
        <div class="btn-icon btn-profile"></div>
      </button>
    </div>

    <!-- <ul class="nav justify-content-end">
      <li class="nav-item">
        <button type="button" class="btn btn-primary position-relative">
          Cart
          <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
          >
            99+
            <span class="visually-hidden">unread messages</span>
          </span>
        </button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-primary position-relative">
          Profile
        </button>
      </li>
    </ul> -->
  </div>
</nav>

<app-navbar-categories></app-navbar-categories>
