<nav class="navbar navbar-expand-lg bg-primary text-light pt-4 pb-4">
  <div class="container-fluid">
    <div
      class="col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto col-xxl-auto"
    >
      <div class="logomarca"></div>
    </div>

    <!-- <div
        class="col-12 col-sm-12 col-md-auto col-lg-auto col-xl-auto col-xxl-auto mt-3"
      >
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder=""
            aria-label=""
            aria-describedby="button-addon2"
          />
          <button
            class="btn btn-outline-secondary btn-outline-input"
            type="button"
            id="button-addon2"
          >
            <div class="btn-icon btn-search"></div>
          </button>
        </div>
      </div> -->

    <div
      class="col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto col-xxl-auto"
    >
      <button class="btn position-relative bg-transparent" type="button">
        <div class="btn-icon btn-cart"></div>
        <span
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-light text-primary"
        >
          3
          <span class="visually-hidden">unread messages</span>
        </span>
      </button>
      <button class="btn bg-transparent" type="button">
        <div class="btn-icon btn-profile"></div>
      </button>
    </div>
  </div>
</nav>

<app-navbar-categories></app-navbar-categories>
