<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="mt-5 mb-5">
        <h1 class="text-primary text-center">Política de Troca e Devolução</h1>
        <p class="text-center">
          Nesta página podem ser encontradas todas as informações necessárias
          para o procedimento de troca, devolução e reembolso de produtos
          adquiridos no site
        </p>

        <p><strong>Trocas e devoluções</strong></p>
        <p>
          A Leonnè Prata toma todos os cuidados necessários para que o cliente
          receba seu produto em perfeito estado. Caso seja percebida alguma
          divergência no recebimento, tais como: embalagem amassada e/ou
          rasgada, fita adesiva rompida, ou mesmo sua ausência, ou destinatário
          da etiqueta em nome de pessoa desconhecida, notifique imediatamente
          através do endereço de e-mail
        </p>

        <p>
          Para produtos adquiridos em nosso site o prazo de troca/devolução é de
          até 7 (sete) dias corridos, a contar da data de entrega informada
          pelos correios/transportadora.
        </p>

        <p>
          O produto deve estar sem marcas de uso, em embalagem original. A
          troca, nessas condições, poderá ser realizada apenas uma única vez.
          Caso o motivo da troca não se encaixe em nossas politicas de garantia,
          os custos de envio e devolução devem ser pagos pelo cliente.
        </p>

        <p><strong>Prazo para realização da troca</strong></p>
        <p>
          Nosso prazo de troca é de até 30 (trinta) dias corridos, contados a
          partir da data do recebimento do produto em nossa empresa, para
          verificar se a solicitação preenche os requisitos da Política de
          Trocas e Devoluções. Caso preencha os requisitos a troca poderá ser
          efetuada por outro produto ou pelo mesmo produto, de acordo com a
          disponibilidade em estoque.
        </p>

        <p><strong>Prazo para reembolso</strong></p>
        <p>
          Caso o produto preencha os requisitos, o prazo para reembolso de
          compras feitas através de PIX/transferência bancária é de até 30 dias
          corridos, contados a partir da data do recebimento do produto em nossa
          empresa.
        </p>

        <p>
          Para compras feitas com cartão de crédito o valor da compra será
          estornado na próxima fatura do seu cartão ou na fatura do mês
          subsequente, podendo levar de 30 a 60 dias. Esse prazo depende da data
          de fechamento de sua fatura. Qualquer valor cobrado neste intervalo de
          tempo será estornado. Este período de 30 a 60 dias existe devido aos
          vários agentes envolvidos na transação.
        </p>

        <p>
          Geralmente, as operadoras de cartão fazem a devolução dos valores
          parcelados de três formas:
        </p>
        <div style="padding-left: 35px">
          <p>
            - A operadora de cartão devolve os valores já pagos na forma de
            crédito na sua fatura e não cobra as demais parcelas.
          </p>
          <p>
            - A operadora devolve o valor total da compra na forma de crédito na
            sua fatura e mantém a cobrança das demais parcelas (o valor da
            devolução e da cobrança se anulam).
          </p>
          <p>
            - A operadora de cartão adianta a cobranças de todas as parcelas na
            sua fatura e devolve o valor total da compra.
          </p>
          <p>
            - A restituição dos valores ou troca será processada somente após o
            recebimento e análise do(s) produto(s) em nossa empresa.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
