.category-item {
    width: 100%;
    height: 300px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;

    .card-img-overlay {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        background-color: rgba(24, 22, 22, 0.2);
    }
}

.category-masculino {
    background-image: url("./../../../../assets/compressed/4.webp");
}

.category-feminino {
    background-image: url("./../../../../assets/compressed/5.webp");
}

.category-infantil {
    background-image: url("./../../../../assets/compressed/6.webp");
}
