<div class="container text-center pb-5">
  <div class="row justify-content-md-center">
    <div class="col-lg-4 col-mg-12 col-sm-12 mb-5">
      <div class="card text-bg-dark category-item">
        <div class="card-img-overlay">
          <h5 class="card-title">Masculinos</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-mg-12 col-sm-12 mb-5">
      <div class="card text-bg-dark category-item">
        <div class="card-img-overlay">
          <h5 class="card-title">Unisex</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-mg-12 col-sm-12 mb-5">
      <div class="card text-bg-dark category-item">
        <div class="card-img-overlay">
          <h5 class="card-title">Femininos</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
