<div class="container text-center pb-5">
  <div class="row justify-content-md-center">
    <div
      class="col-lg-4 col-mg-12 col-sm-12 mb-5"
      routerLink="categorias/masculinos"
    >
      <div class="card text-bg-dark category-item category-masculino">
        <div class="card-img-overlay">
          <h5 class="card-title">Masculinos</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-mg-12 col-sm-12 mb-5">
      <div
        class="card text-bg-dark category-item category-feminino"
        routerLink="categorias/femininos"
      >
        <div class="card-img-overlay">
          <h5 class="card-title">Femininos</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-mg-12 col-sm-12 mb-5">
      <div
        class="card text-bg-dark category-item category-infantil"
        routerLink="categorias/infantis"
      >
        <div class="card-img-overlay">
          <h5 class="card-title">Infantis</h5>
        </div>
      </div>
    </div>
  </div>
</div>
