<div class="card combo-signin col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
  <div class="card-header">
    <div class="logomarca logomarca-primary"></div>
  </div>
  <div class="card-body" [formGroup]="form">
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="email@email.com"
        formControlName="email"
      />
      <label for="floatingInput">E-mail</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        formControlName="password"
      />
      <label for="floatingPassword">Password</label>
    </div>
  </div>

  <div class="card-footer">
    <div class="d-grid gap-2">
      <button
        class="btn btn-primary"
        (click)="doSignIn()"
        [disabled]="form.invalid"
      >
        Entrar
      </button>
      <button class="btn btn-outline-primary" (click)="doSignUp()">
        Não tem uma conta? Cadastre-se
      </button>
      <button class="btn btn-link" (click)="goBack()">
        Voltar para o site
      </button>
    </div>
  </div>
</div>
