<footer>
  <div class="container text-center pt-5 pb-2">
    <div class="row mb-5">
      <div class="col-lg-4">
        <h2>Políticas</h2>

        <div>
          <nav class="nav flex-column">
            <a class="nav-link" href="#">Política de Privacidade</a>
            <a class="nav-link" href="#">Política de Garantia</a>
            <a class="nav-link" href="#">Política de Troca e Devolução</a>
          </nav>
        </div>
      </div>

      <div class="col-lg-4">
        <h2>Nos Siga</h2>

        <p>E não perca mais nossas novidades</p>
      </div>

      <div class="col-lg-4">
        <h2>Informações</h2>

        <nav class="nav flex-column">
          <a class="nav-link active" aria-current="page" href="#"
            >Promoção Frete Grátis</a
          >
        </nav>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-lg-12">imagens-pagamento</div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        Todos os Direitos Reservados - Leonne Comercio de Joias
      </div>
    </div>
  </div>
</footer>
