<footer>
  <div class="container text-center pt-5 pb-2">
    <div class="row mb-5">
      <div class="col-lg-4">
        <h2>Políticas</h2>

        <div>
          <ul>
            <li><a href="">Política de Privacidade</a></li>
            <li><a href="">Política de Garantia</a></li>
            <li><a href="">Política de Troca e Devolução</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4">
        <h2>Nos Siga</h2>

        <p>E não perca mais nossas novidades</p>
      </div>

      <div class="col-lg-4">
        <h2>Informações</h2>

        <ul>
          <li><a href="">Promoção Frete Grátis</a></li>
        </ul>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-lg-12">imagens-pagamento</div>
    </div>

    <div class="row">
      <div class="col-lg-12">Direitos empresa</div>
    </div>
  </div>
</footer>
