/* You can add global styles to this file, and also import other style files */

@import "./assets/scss/custom";

@import "~bootstrap-icons/font/bootstrap-icons.css";

.icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-2 {
    width: 20px;
    height: 20px;
}

.icon-5 {
    width: 50px;
    height: 50px;
}

.icon-shield {
    background-image: url("./assets/shield.svg");
}

.icon-shipping {
    background-image: url("./assets/shipping.svg");
}

.icon-bargain {
    background-image: url("./assets/cofrinho.svg");
}

.icon-fire {
    background-image: url("./assets/fire.svg");
}

.icon-title {
    font-weight: 900;
    font-size: 1.5rem;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-outline-primary:active,
.btn-outline-primary:hover {
    color: white !important;
}

.list-group-item-padding-none {
    padding-top: 0px;
    padding-bottom: 0px;
}

ngb-rating {
    i {
        font-size: 1.5rem;
        padding-right: 0.1rem;
        color: rgb(218, 165, 32);
    }
    .filled {
        color: rgb(218, 165, 32);
    }
    .low {
        color: #deb0b0;
    }
    .filled.low {
        color: rgb(218, 165, 32);
    }
}

.card-product-detail {
    border: none;
    box-shadow: 0px 0px 6px -3px rgba(119, 116, 116, 0.8);
    margin-bottom: 40px;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 0px 9px -3px rgba(119, 116, 116, 0.8);
        margin-bottom: -40px;

        button {
            display: block;
        }
    }

    button {
        width: 100%;
        display: none;
    }
}

.social-nav-item {
    padding: 0px 15px;
}

.offcanvas-header {
    background-color: $primary;
    color: white;

    .btn-close {
        color: white;
    }
}

.offcanvas-body {
    // padding: 35px;
}

.offcanvas-footer {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 15px;
}

hr {
    border-top-color: $primary;
}

.list-group-cart {
    .list-group-item {
        cursor: pointer;
        border: none;
        padding-left: 0;
        padding-right: 0;
    }
}

.input-change-product-quantity {
    width: 120px;

    input {
        border: none;
    }
}

.area-cart-item-buttons {
    display: flex;
    justify-content: space-between;

    .input-change-card-item {
        border-top: 0.09rem solid $primary;
        border-bottom: 0.09px solid $primary;
        text-align: center;
        color: $primary;
        border-left: 0px;
        border-right: 0px;

        &:disabled {
            background-color: $white !important;
        }
    }

    .btn-decrease {
        border-right: 0px;
    }

    .btn-increase {
        border-left: 0px;
    }
}

.btn-circled {
    border-radius: 100px;
}

.card-shipp-item {
    cursor: pointer;
    h3 {
        color: $primary;
    }
}

.card-shipp-item-selected {
    background-color: $primary;
    color: $white !important;
    h3 {
        color: $white;
    }
}

.image-catalog-detail {
    cursor: pointer;
}

.image-catalog-detail-mini {
    background-size: cover;
    background-position: center;
    height: 100px;
    width: 100%;
    margin-bottom: 10px;

    &.image-catalog-detail-mini-selected {
        border: 2px solid $primary;
    }
}
