/* You can add global styles to this file, and also import other style files */

@import "./assets/scss/custom";

@import "~bootstrap-icons/font/bootstrap-icons.css";

.icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-2 {
    width: 20px;
    height: 20px;
}

.icon-5 {
    width: 50px;
    height: 50px;
}

.icon-shield {
    background-image: url("./assets/shield.svg");
}

.icon-shipping {
    background-image: url("./assets/shipping.svg");
}

.icon-bargain {
    background-image: url("./assets/cofrinho.svg");
}

.icon-fire {
    background-image: url("./assets/fire.svg");
}

.icon-title {
    font-weight: 900;
    font-size: 1.5rem;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-outline-primary:active,
.btn-outline-primary:hover {
    color: white !important;
}

.list-group-item-padding-none {
    padding-top: 0px;
    padding-bottom: 0px;
}

ngb-rating {
    i {
        font-size: 1.5rem;
        padding-right: 0.1rem;
        color: rgb(218, 165, 32);
    }
    .filled {
        color: rgb(218, 165, 32);
    }
    .low {
        color: #deb0b0;
    }
    .filled.low {
        color: rgb(218, 165, 32);
    }
}

.card {
    .card-header {
        background-color: $white;
    }

    &.bg-primary {
        .card-header {
            background-color: $primary;
            color: $white;
        }
        ul,
        li {
            background-color: $primary;
            color: $white;
        }
    }
}

.card-product-detail {
    border: none;
    box-shadow: 0px 0px 6px -3px rgba(119, 116, 116, 0.8);
    margin-bottom: 40px;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 0px 9px -3px rgba(119, 116, 116, 0.8);
        margin-bottom: -40px;

        button {
            display: block;
        }
    }

    button {
        width: 100%;
        display: none;
    }
}

.social-nav-item {
    padding: 0px 15px;
}

.offcanvas-header {
    background-color: $primary;
    color: white;

    .btn-close {
        color: white;
    }
}

.offcanvas-body {
    // padding: 35px;
}

.offcanvas-footer {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 15px;
}

hr {
    border-top-color: $primary;
}

.list-group-cart {
    .list-group-item {
        cursor: pointer;
        border: none;
        padding-left: 0;
        padding-right: 0;
    }
}

.input-change-product-quantity {
    width: 120px;

    input {
        border: none;
    }
}

.area-cart-item-buttons {
    display: flex;
    justify-content: space-between;

    .input-change-card-item {
        border-top: 0.09rem solid $primary;
        border-bottom: 0.09px solid $primary;
        text-align: center;
        color: $primary;
        border-left: 0px;
        border-right: 0px;

        &:disabled {
            background-color: $white !important;
        }
    }

    .btn-decrease {
        border-right: 0px;
    }

    .btn-increase {
        border-left: 0px;
    }
}

.btn-circled {
    border-radius: 100px;
}

.card-shipp-item {
    cursor: pointer;
    h3 {
        color: $primary;
    }
}

.card-shipp-item-selected {
    background-color: $primary;
    color: $white !important;
    h3 {
        color: $white;
    }
}

.image-catalog-detail {
    cursor: pointer;
}

.image-catalog-detail-mini {
    background-size: cover;
    background-position: center;
    height: 100px;
    width: 100%;
    margin-bottom: 10px;

    &.image-catalog-detail-mini-selected {
        border: 2px solid $primary;
    }
}

.navbar {
    z-index: 2;
}

.logomarca {
    width: 200px;
    height: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;

    &.logomarca-light {
        background-image: url("./assets/logomarca-branca.png");
    }

    &.logomarca-primary {
        background-image: url("./assets/logomarca.png");
    }
}

.image-escudo {
    // background-image: url(./assets/payment/escudo.png);
    // background-position: center;
    // background-size: cover;
    // background-repeat: no-repeat;
    // width: 150px;
    img {
        max-height: 50px;
    }

    .campo-text-site-seguro {
        padding-left: 10px;
        padding-right: 10px;

        .title {
            margin: 0px;
            padding: 0px;
        }
        .sub-title {
            margin: 0px;
            padding: 0px;
        }
    }
}

.image-thumbnail {
    width: 117px;
    height: 102px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-icon {
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-cart {
    background-image: url("./assets/bag-cart.svg");
}

.btn-profile {
    background-image: url("./assets/user.svg");
}

.btn-search {
    background-image: url("./assets/search.png");
}

.footer {
    color: white;
    width: 100%;
    margin: 0px;

    a {
        color: white;
    }
    a:hover {
        text-decoration-line: underline;
        text-decoration-color: white;
    }
}

.payment-method img {
    width: 50px;
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 10px;
}

.list-group-no-borded {
    &.list-group {
        .list-group-item {
            border: none;
        }
    }
}

.card-cart-header-detail {
    h4 {
        margin-bottom: 0px;
    }

    p {
        margin-bottom: 0px;
    }
}

.c-pointer {
    cursor: pointer;
}

.bg-auth {
    background-color: $primary;
    width: 100%;
    height: 100vh;
    position: absolute;

    .combo-signin {
        margin: auto;
        padding: 30px;

        .logomarca {
            height: 100px;
            margin: auto;
        }

        .card-header {
            border: none;
            background-color: $white;
        }

        .card-footer {
            border: none;
            background-color: $white;
            margin-bottom: 15px;
        }
    }
}

.picture-profile {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 50px;
}
