/* You can add global styles to this file, and also import other style files */

@use "./assets/scss/custom";

.icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-2 {
    width: 20px;
    height: 20px;
}

.icon-5 {
    width: 50px;
    height: 50px;
}

.icon-shield {
    background-image: url("./assets/shield.svg");
}

.icon-shipping {
    background-image: url("./assets/shipping.svg");
}

.icon-bargain {
    background-image: url("./assets/cofrinho.svg");
}

.icon-fire {
    background-image: url("./assets/fire.svg");
}

.icon-title {
    font-weight: 900;
    font-size: 1.5rem;
}

.btn-primary {
    color: white;
}

.btn-primary:hover {
    color: white;
}

.btn-primary:active {
    color: white;
}
