<div class="container text-center pt-5 pb-5">
  <div class="row justify-content-md-center">
    <div class="col-lg-4 col-mg-12 col-sm-12 mb-5">
      <div class="category-item">
        <div class="internal-category-item">
          <span>Category</span>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-mg-12 col-sm-12 mb-5">
      <div class="category-item">
        <div class="internal-category-item">
          <span>Category</span>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-mg-12 col-sm-12 mb-5">
      <div class="category-item">
        <div class="internal-category-item">
          <span>Category</span>
        </div>
      </div>
    </div>
  </div>
</div>
