<div class="container text-center pt-5 pb-5">
  <div class="row justify-content-md-center">
    <div class="col-lg-3 pb-5">
      <div class="row">
        <div class="d-flex align-items-center justify-content-center pt-3 pb-3">
          <i class="icon icon-5 icon-shield"></i>
        </div>
      </div>
      <div class="row">
        <div class="icon-title">Loja Segura</div>
      </div>
      <div>
        <span>Seus dados seguros</span>
      </div>
    </div>
    <div class="col-lg-3 pb-5">
      <div class="d-flex align-items-center justify-content-center pt-3 pb-3">
        <i class="icon icon-5 icon-shield"></i>
      </div>
      <div class="icon-title">Até 2x</div>
      <div>
        <span>Ou 3 x sem juros</span>
      </div>
    </div>
    <div class="col-lg-3 pb-5">
      <div class="d-flex align-items-center justify-content-center pt-3 pb-3">
        <i class="icon icon-5 icon-shipping"></i>
      </div>
      <div class="icon-title">Frete Grátis</div>
      <div>
        <span
          >nas compras acima de R$199<br />use o cupom de desconto:
          FRETEGRATIS</span
        >
      </div>
    </div>
  </div>
</div>
