<div class="container text-center pt-5 pb-5">
  <div class="row justify-content-md-center">
    <div class="col-lg-3">
      <div class="row">
        <span>
          <img
            src="./../../../../assets/shield-check.png"
            alt=""
            width="50px"
          />
        </span>
      </div>
      <div class="row">
        <span>Loja Segura</span>
      </div>
      <div>
        <span>Seus dados seguros</span>
      </div>
    </div>
    <div class="col-lg-3">
      <div>
        <span>
          <img
            src="./../../../../assets/shield-check.png"
            alt=""
            width="50px"
          />
        </span>
      </div>
      <div>
        <span>Até 2x</span>
      </div>
      <div>
        <span>Ou 3 x sem juros</span>
      </div>
    </div>
    <div class="col-lg-3">
      <div>
        <span>
          <img
            src="./../../../../assets/shield-check.png"
            alt=""
            width="50px"
          />
        </span>
      </div>
      <div>
        <span>Frete Grátis</span>
      </div>
      <div>
        <span
          >nas compras acima de R$280<br />use o cupom de desconto:
          FRETEGRATIS</span
        >
      </div>
    </div>
  </div>
</div>
