<div class="container pt-5 pb-5" *ngIf="product">
  <div class="row">
    <div class="col-lg-1">
      <div
        class="image-catalog-detail image-catalog-detail-mini"
        *ngFor="let picture of product.pictures; index as index"
        (click)="changePictureIndexSelected(index)"
        [ngStyle]="{
          'background-image': 'url(' + picture + ')'
        }"
        [ngClass]="
          picturePrincipalIndex == index
            ? 'image-catalog-detail-mini-selected'
            : ''
        "
      >
        <!-- <img
          [src]="pictureUrlToSanitize(picture)"
          class="img-fluid rounded float-start pb-3"
          alt="..."
        /> -->
      </div>
    </div>

    <div class="col-lg-5">
      <picture>
        <source
          [srcset]="
            pictureUrlToSanitize(product.pictures[picturePrincipalIndex])
          "
          type="image/svg+xml"
        />
        <img
          [src]="pictureUrlToSanitize(product.pictures[picturePrincipalIndex])"
          class="img-fluid image-catalog-detail image-catalog-detail-principal"
          (click)="onClickPrincipalPicture()"
          alt="..."
        />
      </picture>

      <!-- <img
        src="https://picsum.photos/id/85/600/600"
        class="rounded float-start"
        alt="..."
      /> -->
    </div>

    <div class="col-lg-6">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Inicio</a></li>
          <!-- <li
            class="breadcrumb-item"
            aria-current="page"
            *ngFor="let breadcrumb of breadcrumbs"
            [ngClass]="breadcrumbs.isActualPath ? 'active' : ''"
          >
            <a
              [href]="breadcrumb.path"
              *ngIf="!breadcrumb.isActualPath"
              class="text-capitalize"
              >{{ breadcrumb.path }}</a
            >
            <span *ngIf="breadcrumb.isActualPath" class="text-capitalize">{{
              breadcrumb.path
            }}</span>
          </li> -->
        </ol>
      </nav>

      <h1 class="text-primary">
        <strong>{{ product.title }}</strong>
      </h1>

      <h3 class="mt-3 text-primary">
        <strong>{{ product.price | currency : "BRL" }}</strong>
      </h3>

      <h4 class="text-primary mt-3">
        <strong
          ><i class="bi bi-credit-card-2-front"></i> 3x sem juros de
          R$xxxx.xx</strong
        >
      </h4>

      <h4 class="text-primary mt-3">
        <strong>
          <i class="bi bi-currency-dollar"></i> 5% de desconto para pagamento no
          PIX
        </strong>
      </h4>

      <p>Ver mais detalhes</p>

      <div class="row row-cols-auto variations-group mt-5">
        <div class="col-6 mb-3">
          <select class="form-select" aria-label="Selecione uma cor do produto">
            <option selected>Selecione uma cor</option>
            <option value="1">Cor 1</option>
            <option value="2">Cor 2</option>
            <option value="3">Cor 3</option>
          </select>
        </div>

        <div class="col-6 mb-3">
          <select
            class="form-select"
            aria-label="Selecione o tamanho do produto"
          >
            <option selected>Selecione o tamanho</option>
            <option value="1">Tamanho 1</option>
            <option value="2">Tamanho 2</option>
            <option value="3">Tamanho 3</option>
          </select>
        </div>

        <div class="col-6 mb-3">
          <div class="input-group area-cart-item-buttons">
            <button
              class="btn btn-outline-primary btn-decrease"
              type="button"
              id="button-addon1"
              (click)="decreaseProduct()"
            >
              <i class="bi bi-dash"></i>
            </button>
            <input
              type="text"
              class="form-control input-change-card-item"
              placeholder=""
              aria-label="Example text with button addon"
              aria-describedby="button-addon1"
              [value]="quantityProductToCart"
            />
            <button
              class="btn btn-outline-primary btn-increase"
              type="button"
              id="button-addon1"
              (click)="increaseProduct()"
            >
              <i class="bi bi-plus"></i>
            </button>
          </div>
        </div>
        <div class="col-6 mb-3">
          <button class="btn btn-primary" style="width: 100%">Comprar</button>
        </div>
      </div>

      <div class="row row-cols-auto" *ngIf="shippingList && !postalCodeSaved">
        <div class="col-12">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Digite seu CEP"
              aria-label="Digite seu CEP"
              aria-describedby="button-addon2"
              [(ngModel)]="postalCode"
              [disabled]="shippingCalculating"
            />
            <button
              class="btn btn-outline-primary"
              type="button"
              id="button-addon2"
              (click)="shippingCalculate()"
              [disabled]="shippingCalculating"
            >
              <span
                class="spinner-border spinner-border-sm me-2"
                aria-hidden="true"
                *ngIf="shippingCalculating"
              ></span>
              <span role="status" *ngIf="shippingCalculating">
                Calculando...</span
              >
              <span *ngIf="!shippingCalculating">Calcular Frete</span>
            </button>
          </div>
        </div>
        <div class="col-12">
          <a
            href="https://buscacepinter.correios.com.br/app/endereco/index.php"
            target="_blank"
            rel="noopener noreferrer"
            >Não sei meu cep</a
          >
        </div>
      </div>

      <div class="container">
        <div class="row" *ngIf="postalCodeSaved">
          <div class="col-9">
            <p>Entregas para o CEP: {{ postalCode }}</p>
          </div>
          <div class="col">
            <button
              class="btn btn-outline-primary"
              (click)="changePostalCode()"
            >
              ALTERAR CEP
            </button>
          </div>
        </div>
      </div>

      <div
        class="row row-cols-auto mt-3"
        *ngIf="shippingList && shippingList.length > 0"
      >
        <div class="col-12">
          <div class="alert alert-warning" role="alert">
            <i class="bi bi-exclamation-diamond"></i>

            Joias personalizadas possuem o prazo de 3 dias úteis para confecção
            mais o prazo da transportadora para chegar até o endereço.
          </div>
        </div>

        <div class="col-12">
          <div class="card w-100 mb-3 card-shipp-item card-shipp-item-selected">
            <div class="row g-0">
              <div class="col-8">
                <div class="card-body">
                  <h5 class="card-title">Correios - PAC (via Melhor Envio)</h5>
                  <p class="card-text">
                    Chega entre sexta 27/10 e segunda 30/10
                  </p>
                </div>
              </div>
              <div class="col-4">
                <div
                  class="d-flex align-items-center justify-content-end h-100 pe-3"
                >
                  <h3><strong>R$ 52.80</strong></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card w-100 mb-3 card-shipp-item">
            <div class="row g-0">
              <div class="col-8">
                <div class="card-body">
                  <h5 class="card-title">Correios - PAC (via Melhor Envio)</h5>
                  <p class="card-text">
                    Chega entre sexta 27/10 e segunda 30/10
                  </p>
                </div>
              </div>
              <div class="col-4">
                <div
                  class="d-flex align-items-center justify-content-end h-100 pe-3"
                >
                  <h3><strong>R$ 52.80</strong></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-zoom-picture
    [pictures]="product.pictures"
    [isOpened]="openPictureBox"
    [indexSelected]="picturePrincipalIndex"
    (openCloseChange)="openPictureBox = $event"
    (onChangePictureSelected)="picturePrincipalIndex = $event"
  ></app-zoom-picture>
</div>
