<footer class="bg-primary text-light">
  <div class="container text-center pt-5 pb-2">
    <div class="row mb-5">
      <div class="col-lg-4 pb-5">
        <h2>Políticas</h2>

        <div>
          <nav class="nav flex-column">
            <a class="nav-link" routerLink="politica-de-privacidade"
              >Política de Privacidade</a
            >
            <a class="nav-link" routerLink="politica-de-garantia"
              >Política de Garantia</a
            >
            <a class="nav-link" routerLink="politica-de-troca"
              >Política de Troca e Devolução</a
            >
          </nav>
        </div>
      </div>

      <div class="col-lg-4 pb-5">
        <h2>Nos Siga</h2>

        <p>E não perca mais nossas novidades</p>

        <div>
          <nav class="navbar justify-content-center">
            <a
              href="https://instagram.com/leonnepratas"
              target="_blank"
              class="nav-item social-nav-item"
            >
              <i class="bi bi-instagram"></i>
            </a>
            <a
              href="https://facebook.com/leonnepratas"
              target="_blank"
              class="nav-item social-nav-item"
            >
              <i class="bi bi-facebook"></i>
            </a>
            <a
              href="https://www.tiktok.com/@leonnepratas"
              target="_blank"
              class="nav-item social-nav-item"
            >
              <i class="bi bi-tiktok"></i>
            </a>
          </nav>
        </div>
      </div>

      <div class="col-lg-4 pb-5">
        <h2>Informações</h2>

        <nav class="nav flex-column">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="promocao-frete-gratis"
            >Promoção Frete Grátis</a
          >
        </nav>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-lg-12">
        <div class="d-flex align-items-center justify-content-center">
          <div class="payment-method payment-method-visa">
            <img src="./../../../../assets/payment/visa.svg" alt="" srcset="" />
          </div>
          <div class="payment-method payment-method-mastercard">
            <img
              src="./../../../../assets/payment/mastercard-2.svg"
              alt=""
              srcset=""
            />
          </div>
          <div class="payment-method payment-method-american-express">
            <img
              src="./../../../../assets/payment/american-express-1.svg"
              alt=""
              srcset=""
            />
          </div>
          <div class="payment-method payment-method-link">
            <img src="./../../../../assets/payment/link.svg" alt="" srcset="" />
          </div>
          <div class="payment-method payment-method-pix">
            <img
              src="./../../../../assets/payment/pix-2.svg"
              alt=""
              srcset=""
            />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        Todos os Direitos Reservados - Leonne Comercio de Joias
      </div>
    </div>
  </div>
</footer>
