<footer class="bg-primary text-light">
  <div class="container text-center pt-5 pb-2">
    <div class="row mb-5">
      <div class="col-lg-4 pb-5">
        <h2>Políticas</h2>

        <div>
          <nav class="nav flex-column">
            <a class="nav-link" routerLink="politica-de-privacidade"
              >Política de Privacidade</a
            >
            <a class="nav-link" routerLink="politica-de-garantia"
              >Política de Garantia</a
            >
            <a class="nav-link" routerLink="politica-de-troca"
              >Política de Troca e Devolução</a
            >
          </nav>
        </div>
      </div>

      <div class="col-lg-4 pb-5">
        <h2>Nos Siga</h2>

        <p>E não perca mais nossas novidades</p>
      </div>

      <div class="col-lg-4 pb-5">
        <h2>Informações</h2>

        <nav class="nav flex-column">
          <a class="nav-link active" aria-current="page" href="#"
            >Promoção Frete Grátis</a
          >
        </nav>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-lg-12">
        <div class="d-flex align-items-center justify-content-center">
          <div class="payment-method payment-method-visa">
            <img src="./../../../../assets/payment/visa.svg" alt="" srcset="" />
          </div>
          <div class="payment-method payment-method-mastercard">
            <img
              src="./../../../../assets/payment/mastercard-2.svg"
              alt=""
              srcset=""
            />
          </div>
          <div class="payment-method payment-method-american-express">
            <img
              src="./../../../../assets/payment/american-express-1.svg"
              alt=""
              srcset=""
            />
          </div>
          <div class="payment-method payment-method-link">
            <img src="./../../../../assets/payment/link.svg" alt="" srcset="" />
          </div>
          <div class="payment-method payment-method-pix">
            <img
              src="./../../../../assets/payment/pix-2.svg"
              alt=""
              srcset=""
            />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        Todos os Direitos Reservados - Leonne Comercio de Joias
      </div>
    </div>
  </div>
</footer>
